#puppy1 {
  max-width: 85px;
  max-height: 85px;
}
#puppy2 {
  max-width: 85px;
  max-height: 85px;
}
#kitty1 {
  max-width: 85px;
  max-height: 85px;
}
#kitty2 {
  max-width: 85px;
  max-height: 85px;
}
